<footer class="page-footer bg-dark sticky">
    <p class="lead text-center">Get in Touch</p>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="mx-auto py-4">
                    <div class="flex-center">
                        <a class="social-icon text-white mr-5">
                            <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
                        </a>
                        <a class="social-icon text-white ml-5">
                            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Alina</div>
</footer>